@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1330295_pz6u3jugdgs.eot?t=1564717178893'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1330295_pz6u3jugdgs.eot?t=1564717178893#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABpAAAAKEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBFIEoATYCJAMICwYABCAFhG0HNRvTBRHVkyNkPwrc2A0+JYnK1iTNlz6n15ecg+B52t//rz0z5755YpLUwAQg8pMhgo1V6f8kON8CCNias+BeTchs5zsCD6RYF/K/rJBePqP/uZzeCiiQ+YFymWPyUS/AeGtAe2O0hUso4x7TAcalq4jzEMCLSOmkvvF0DSwGa5oAMjPp0sDm/BiMTFkEV81agxzEwapd6ho4EH5fvsptQeForIrWsXURVH8stDP0RvdGPT5CAATa7AAaSAcGpLM23oxGJFXjFTfEYl+lAh9nbrdvRPaqQ+RfZxX7ABCO/HsSuMJbLVYAGOxOAw2j3g3Gx8vHcz459U33w4eP+/dv97ofPLjfu3e91/Ww++qD3tGH2yv3u4funU9e3nRp94WNF4MTY3LC/nJMrZ86tcGTKMHBvhwrPaZGtm8fUaMKM9UIG349+WlndLLr62PtKgehf3UwNp8cVGP9TKerrwQQ8BrKPN/vX/7fehsAHtPtZdIa+jnBnsch8L8EPauMFlkqdWQ+ORRpmRwU4KVduFnuIC/GqkNvzirYnECCwoMI0FjiUUNJBwdv8sGFpQq8SNO02ZtgS2jEeAKptgEIAU6Dwo/LoAlwHTWU5+AQ5ju4CKjBi24J3tObRFPI1AmmigVkf6CcG+uY1ESlZ3TvKpWsKKTdUTyFYJgMiqktNihzLPAfN1K1YIVr2MBlWFUMrfALc02equ2q37d1N0pyrgNDHYFSChWAzB9Acqxh/frKlD5/hpy3SkpaSBX7HRIe9Q4MSRj0QLfyphfpXq7xPpwRSlmAJVgN2MAoVKkwoK0f9YJyKuE5Itpa0bdr2b7yZH1l/XUbCAKDpYnEXqrxbmVPStxQ44IA') format('woff2'),
  url('//at.alicdn.com/t/font_1330295_pz6u3jugdgs.woff?t=1564717178893') format('woff'),
  url('//at.alicdn.com/t/font_1330295_pz6u3jugdgs.ttf?t=1564717178893') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1330295_pz6u3jugdgs.svg?t=1564717178893#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.percy-icon-Positioning:before {
  content: "\e736";
}
