$twitter-blue: #1da1f2;
$twitter-font: #66757f;
$boder-color: #a4d9f9;
$twitter-font-shallow: #657786;
$button-hover: #e8f5fd;
$backgroud-main: #e6ecf0;
$height-header: 47px;
$height-welcome:300px;
$height-fake-area:30px;
$height-profile-nav-wrap:60px;